body {
    background-color: #0C141F;
    overflow: hidden;
  }
  
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

nav{
    display: absolute;
    text-align: center;
    min-height: 8vh;
    background: #E6FFFF;
}

.logo{
    display: absolute;
    font-size: 38px;
    font-family: 'Zen Dots', cursive;
}

.boxes{
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.boxes div{
    border: 1px #ccc solid;
    margin: 35px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.box1{
    flex: 1;
    background: #6FC3DF;
}

.box2{
    flex: 2;
    background: #DF740C;
}

.box3{
    flex: 1;
    background: #FFE64D;
}